#about {
    height: 100vh;
    width: 100vw;
    background-color: #3b3f49;
    overflow: hidden;
}

.aboutme-wrapper {
    height: 80vh;
    width: 90vw;
    background-color: #171d23;
    margin: auto;
    position: relative;
    margin-top: 10vh;
    border-radius: 5px;
    /* z-index: 3; */
}

.diag-one {
    height: 80vh;
    width: 8vw;
    position: absolute;
    bottom: 0;
    right: 0;
    margin-right: 100px;
    margin-bottom: -200px;
    transform: rotate(45deg);
    background: linear-gradient(to bottom, rgba(255,255,255,.8), rgba(255,255,255,0));
}

.diag-two {
    height: 120vh;
    width: 14vw;
    position: absolute;
    bottom: 0;
    right: 0;
    margin-right: 0px;
    margin-bottom: 20px;
    transform: rotate(45deg);
    background: linear-gradient(to bottom, rgba(52, 88, 86,1), rgba(52, 88, 86,0));

}

.headshot {
    height: 300px;
    width: 300px;
    border-radius: 100%;
    margin: 40px 0 0 40px;
}