#assets {
    font-family: 'Quicksand', sans-serif;
    font-size: 25px;    
}

#assets h1{
text-align: center;
    color: black;
    font-family: 'Amatic SC', cursive;
    font-size: 120px;
    padding: 0;
    margin: 10px 0 60px 0;
}

.assetsIcons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 60px 0 60px;
}

.item1 {
    text-align: center;
}

.item1 img{
    width: 15vw;
    height: 15vh;
}

.item2 {
    text-align: center;
}

.item2 img{
    width: 15vw;
    height: 15vh;
}

.item3 {
    text-align: center;
}

.item3 img {
    width: 15vw;
    height: 15vh;
}

.item4 {
    text-align: center;
}

.item4 img {
    width: 15vw;
    height: 15vh;
}