#assets {
    height: 100vh;
    background-color: #3B3F49;
}

.assets-wrapper {
    height: 80vh;
    width: 90vw;
    background-color: #171d23;
    margin: auto;
    position: relative;
    border-radius: 5px;

}