*:focus {
    outline: 0;
}

navbar{
    position: fixed;
    top: 0;
    right: 0;
    z-index: 9999;
}

.navcontainer{
    width: 100vw;
    margin: 0;
    position: relative;
    z-index: 1;
}


navbar::after {
    display: table;
    clear: both;
}

.logo{
    position: absolute;
    float: left;
    margin: 15px 0 0 30px;
    padding: 5px;
    font-family: 'Quicksand', sans-serif;
    border: solid 2px white;
    border-radius: 3px;
    font-weight: lighter;
    color: white;

}

li {
    list-style: none;
}

nav {
    float: right;
}

.navToggle {
    margin: 10px;
    margin-right: 70px;
    padding: 0;
    list-style: none;
    font-family: 'Quicksand', sans-serif;
    overflow: hidden;
    height: 0;
    color: rgba(0,0,0,0);
    transition-duration: 300ms;
}

.navToggleD {
    margin: 10px;
    margin-right: 70px;
    padding: 0;
    list-style: none;
    font-family: 'Quicksand', sans-serif;
    overflow: hidden;
    height: 100%;
    color: rgba(0,0,0,1);
    transition-duration: 300ms;

}


nav li {
    display: inline-block;
    margin-left: 20px;
    padding-top: 20px;
    position: relative;
}

.menuItem {
    color: rgba(0,0,0,0);
    text-decoration: none;
    text-transform: uppercase;
    font-size: 24px;
    transition-duration: 300ms;

}

.menuItemExpanded {
    color: rgba(255,255,255,1);
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    transition-duration: 300ms;

}

nav a:hover {
    font-weight: bolder;
    transition-duration: 0ms;
}

nav a::before {
    content: '';
    display: block;
    height: 5px;
    width: 100%;
    /* background: linear-gradient(to right,rgba(0, 0, 0,1),rgba(0, 0, 0,0)); */
    border-radius: 10px;
    position: absolute;
    left: -5px;
    top: 6vh;
    width: 0%;
    transition-duration: 200ms;
}

nav a:hover::before {
    width: 130%;
}

.expand {
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 30px;
    margin-right: 30px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: none;
    background: rgba(0,0,0,0);
    cursor: pointer;

}

.closed {
    height: 23px;
    width: 23px;
    margin: 3px 0 0 -2.5px;
    transition-duration: 300ms;
    cursor: pointer;
}

.open {
    height: 23px;
    width: 23px;
    margin: 3px 0 0 -2.5px;
    transform: rotateZ(90deg);
    transition-duration: 300ms;

}
